
/* CSS Document */


	
	
	
    /*The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */



.main {
	position:relative;
	float:right;
	margin-top: 200px;
}
	
/* #credits {
	position:relative;
	float:right;
}

p.introduction {
	position:relative;
	float:right;
}

*/
 

	body {
  background-image: url("Illustrations/1.jpg"); 
	
	
  
  /*Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /*Background image doesn't tile */
  background-repeat: no-repeat;
  
  /*Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
 background-attachment: fixed;
  
  /*This is what makes the background image rescale based
     on the container's size */
 background-size: cover;
  
  /*Set a background color that will be displayed
     while the background image is loading */
 background-color: powderblue;
}

			


        
        @media only screen and (max-width: 600px) {
            
				
				body {
  background-image: url("Illustrations/oms_mobile.jpg"); 
	
	
  
  /*Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
 background-attachment: fixed;
  
  /*This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /*Set a background color that will be displayed
     while the background image is loading */
  background-color: powderblue;
}
			
            
        }
       


